<div class="modal-body row">
    <div class="col-md-6" >
        <div style="background-color: cornflowerblue" class="d-flex justify-content-center">
            <table>
                <tbody>
                    <tr class="espaco">
                        <td>
                            <img src="http://placekitten.com/g/200/200" height="61px" width="56px">
                            Siga o que lhe interessa
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://placekitten.com/g/200/200" height="61px" width="56px">
                            Saiba o que estão falando.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table>
        <tbody>
            <tr class="espaco">
                <td>
                    <img src="http://placekitten.com/g/200/200" height="61px" width="56px">
                    Veja o que esta acontecendo agora.
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <button class="btn btn-primary btn-sm" routerLink="/cadastrarTweet">Cadastrar Tweet</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <button class="btn btn-primary btn-sm" routerLink="/principal" >Ver Tweets</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>